*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: linear-gradient(180deg, #aa4b6b, #6b6b83, #3b8d99);
    --white-color: white;
    --black-color: black;
    --border-color: linear-gradient(180deg, #ee9ca7, #ffdde1, #3b8d99);
    --gray-color: #DDDDDD;
}
body{
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    /* overflow: hidden; */
}