@media only screen and (max-width: 500px) {
    html{
        min-width: 300px;
    }
    header{
        height: 40px;
        min-width: 300px;
    }
    .header__logo{
        display: none;
    }
    .header__search{
        width: 300px;
    }
    .header__search__box{
        height: 35px;
    }
    .search__container{
        width: 100%;
        height: 25px;
    }
    .search__container > input{
        width: 90%;
        font-size: 14px;
        
    }
    .search__container > button{
        width: 50px;
    }
}