$height-header: 60px;
$color-primary: #2489db;  
$color-white: #ffff;
$color-black: #0000;


.footer{
    background-color: black;
    color: $color-white;
    padding: 20px 0;

    &__content{

        &--main{
            padding-bottom: 20px;
            &--items{

                & > h2{
                    color: $color-primary;
                    font-size: 18px;
                    text-transform: uppercase;
                    padding: 20px 0;
                }

                & > nav{

                    & > ul{

                        & > li{
                            list-style: none;
                            line-height: 30px;
                            transition: all ease .15s;

                            & > a{
                                text-decoration: none;
                                color: unset;
                            }

                            &:hover{
                                color: $color-primary;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &--copyright{
            padding: 20px 0;
            border-top: 1px solid $color-primary;
            color: $color-primary;
            font-size: 14px;
        }
    }
}