// ================ abstracts ================ //
// variables
$height-header: 60px;
$color-primary: #2489db;  
$color-white: #ffff;
$color-black: #0000;


//  mixins
@mixin flex($justify-content, $value){
    display: flex;
    align-items: center;
    #{$justify-content}: $value;
}

@mixin transiton(){
    transition: all ease .15s;
}

// ================ layout ================ //
// header
.header{
    height: $height-header;
    width: 100%;
    background-color: $color-primary;

    &__content{     
        height: $height-header;
        width: 1200px;
        margin: 0 auto;

        @include flex(justify-content, space-around);

        &--logo{
            height: $height-header;
            width: fit-content;

            img{
                height: 100%;
                width: 100%;
            }
        }

        &--menu{
            height: $height-header;
            width: 100%;
            & > ul{
                height: $height-header;
                width: 100%;
                @include flex(justify-content, space-around);

                & > li{
                    list-style: none;
                    line-height: $height-header;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 0 10px;
                    @include transiton();
                    @include flex(justify-content, unset);

                    & > .text{
                        color: $color-white;
                        position: relative;
                        @include transiton();

                        &::after{
                            content: "";
                            height: 2px;
                            width: 0;
                            background-color: black;
                            position: absolute;
                            bottom: 10px;
                            left: 0;
                            @include transiton();

                        }

                        &:hover{
                            color: black;
                            cursor: pointer;
                        }
                        
                        &:hover::after{
                            width: 100%;
                        }
                    }      
                }

                & .dropDown{
                    position: relative;

                    &__list{
                        position: absolute;
                        top: $height-header;
                        left: 0;
                        z-index: 99;
                        height: auto;
                        width: 280px;
                        padding: 10px;
                        color: white;
                        background-color: $color-primary;
                        
                        display: none;
                        
                        &--items{
                            // width: 500px;
                            text-align: left;
                            line-height: 50px;  
                            @include transiton();

                            &:hover{
                                color: black;
                                cursor: pointer;
                            }
                        }   
                        
                    }

                    &:hover .dropDown__list{
                        display: block;
                    }
                }
            }
        }
    }
}




