// ================ abstracts ================ //

// variables
$height-header: 60px;
$color-primary: #2489db;  
$color-white: #ffff;
$color-black: #0000;


// ================ base ================ //

// animation
// global define



// ================ compinents ================ //

// button
// tabs
// slider



// ================ layout ================ //

// main specifi styles
.main{
    height: auto;
    width: 100%;
    // background-color: aqua;

    &__banner{
        height: 100%;
        width: 100%;

        & > img{
            height: fit-content;
            width: 100%;
        }
    }

    &__content{
        
        &__aboutMe{
            & > h2{
                text-align: center;
                padding: 20px 0;
            }
            &--infor{
                

                &--img{

                    & > img{
                        height: fit-content;
                        width: 100%;
                    }
                }

                &--text{

                    & > ul{
                         & > li{
                            list-style: none;

                            & > h4{
                                font-size: 16px;
                                padding: 10px 0;
                                text-transform: uppercase;
                            }
                         }
                    }
                }
            }
        }

        // --------------------------------------

        &__contact{
            background-color: $color-primary;
            color: $color-white;
            margin-top: 40px;
            padding: 10px 0;
            & > h2{
                text-align: center;
                padding: 20px 0; 
                text-transform: uppercase; 
            }

            &--infor{

                &--cont-1{

                    & > h3{
                        padding: 20px 0;
                    }

                    & > ul{

                        & > li{
                            list-style: none;
                            line-height: 26 px;

                            & > i{
                                padding-right: 10px;
                            }
                        }
                    }
                }


                &--cont-2{

                    & > form{

                        & > .formInput{

                            & > h4{
                                padding: 10px 0;
                            }

                            & > input{
                                height: 26px;
                                width: 200px;
                                border: 1px solid white;
                                border-radius: 2px;
                                color: $color-white;
                                outline: none;
                                padding-left: 5px;
                                padding-right: 5px;
                                font-size: 16px;    
                                background-color: unset;
                                &::placeholder{
                                    color: white;
                                }
                            }
                        }

                        & > button{
                            margin-top: 20px;
                            padding: 10px 25px;
                            border: 1px solid white;
                            border-radius: 2px;
                            background-color: unset;
                            color: $color-white;
                            outline: none;
                            font-weight: bold;
                            cursor: pointer;
                            
                        }
                    }
                }
            }
        }

        // --------------------------------------

        &__service{
            margin: 10px 0;
            padding: 20px 0;
            background-color: $color-primary;
            color: $color-white;
            &--Web{

                & > h2{
                    text-align: center;
                    padding: 20px 0; 
                    text-transform: uppercase; 
                }
                &--serviceList{

                    & > ul{

                        & > li{
                            padding: 10px 0;
                            & > .secrvice-title{
                                display: flex;
                                align-items: center;
                                padding: 10px 0;

                                & > img{
                                    height: 25px;
                                    width: 25px;
                                }

                                & > h3{
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}





// navigation
// grid system
// slidebar
// forms






// ================ pages ================ //
// banner specific styles

iframe{
    width: 100%;
    height: fit-content;
}