*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

@import 'grid-system.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
// @import 'repos.scss';